server:
  port: 8083

spring:
  application:
    name: axis-media

  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb://mongodb:27017/axis_media}
      database: ${MONGODB_DATABASE:axis_media}
      auto-index-creation: true

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${KEYCLOAK_JWK_SET_URI:http://keycloak:8080/realms/axis/protocol/openid-connect/certs}

  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 50MB
      file-size-threshold: 2MB

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    com.axis: DEBUG
    org.springframework.security: DEBUG
    org.springframework.data.mongodb: DEBUG

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true