apiVersion: apps/v1
kind: Deployment
metadata:
  name: axis-gateway
  namespace: axis
spec:
  template:
    spec:
      containers:
      - name: gateway
        image: ghcr.io/annarav/axis-gateway:latest