apiVersion: apps/v1
kind: Deployment
metadata:
  name: axis-gateway
  namespace: axis
spec:
  template:
    spec:
      imagePullSecrets:
      - name: ghcr-secret
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: axis-goal
  namespace: axis
spec:
  template:
    spec:
      imagePullSecrets:
      - name: ghcr-secret
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: axis-media
  namespace: axis
spec:
  template:
    spec:
      imagePullSecrets:
      - name: ghcr-secret
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: axis-notification
  namespace: axis
spec:
  template:
    spec:
      imagePullSecrets:
      - name: ghcr-secret