apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-scripts
  namespace: axis
data:
  init-databases.sh: |
    #!/bin/bash
    set -e

    psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
        -- Create users
        CREATE USER keycloak_user WITH PASSWORD '$POSTGRES_PASSWORD';
        CREATE USER goal_user WITH PASSWORD '$POSTGRES_PASSWORD';
        CREATE USER notification_user WITH PASSWORD '$POSTGRES_PASSWORD';

        -- Create databases
        CREATE DATABASE keycloak OWNER keycloak_user;
        CREATE DATABASE goal OWNER goal_user;
        CREATE DATABASE notification OWNER notification_user;

        -- Grant privileges
        GRANT ALL PRIVILEGES ON DATABASE keycloak TO keycloak_user;
        GRANT ALL PRIVILEGES ON DATABASE goal TO goal_user;
        GRANT ALL PRIVILEGES ON DATABASE notification TO notification_user;
    EOSQL

    echo "Databases created successfully!"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-app-config
  namespace: axis
data:
  POSTGRES_DB: postgres
  POSTGRES_USER: postgres
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: keycloak-config
  namespace: axis
data:
  KC_DB: postgres
  KC_DB_URL_HOST: postgres-app
  KC_DB_URL_PORT: "5432"
  KC_DB_URL_DATABASE: keycloak
  KC_DB_USERNAME: keycloak_user
  KC_DB_SCHEMA: public
  KC_HOSTNAME_STRICT: "false"
  KC_HOSTNAME_STRICT_HTTPS: "false"
  KC_HTTP_ENABLED: "true"
  KC_HEALTH_ENABLED: "true"
  KC_METRICS_ENABLED: "true"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: goal-db-config
  namespace: axis
data:
  DB_HOST: postgres-app
  DB_PORT: "5432"
  DB_NAME: goal
  DB_USERNAME: goal_user
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: notification-db-config
  namespace: axis
data:
  DB_HOST: postgres-app
  DB_PORT: "5432"
  DB_NAME: notification
  DB_USERNAME: notification_user
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mongodb-config
  namespace: axis
data:
  MONGO_INITDB_DATABASE: axis
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: rabbitmq-config
  namespace: axis
data:
  RABBITMQ_DEFAULT_USER: axis
  RABBITMQ_DEFAULT_VHOST: axis
