server:
  port: 8080

spring:
  application:
    name: wiki-gateway

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://wiki-auth:8081
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=0

        - id: membership-service
          uri: http://wiki-membership:8082
          predicates:
            - Path=/api/organizations/**,/api/memberships/**
          filters:
            - StripPrefix=0

      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin

      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowedHeaders: "*"
            exposedHeaders:
              - Authorization

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://keycloak:8080/realms/wiki}
          jwk-set-uri: ${KEYCLOAK_JWK_SET_URI:http://keycloak:8080/realms/wiki/protocol/openid-connect/certs}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
  health:
    circuitbreakers:
      enabled: true

logging:
  level:
    root: INFO
    com.wiki: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security: DEBUG
